body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 900px;
    margin: 50px auto;
    background: #07072d;
    padding: 40px 50px;
    border-radius: 6px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
}

.title {
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    width: 100%;
}

.lang-dropdown {
    position: relative;
    display: inline-block;
}

.flag {
    width: 40px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    color: black;
    min-width: 140px;
    border-radius: 6px;
    overflow: hidden;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content div:hover {
    background: #ececec;
}

.dropdown-content img {
    width: 22px;
    margin-right: 8px;
}

.lang-dropdown:hover .dropdown-content {
    display: block;
}


.login-box {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.btn {
    width: 100%;
    background: #4a8bff;
    border: none;
    padding: 15px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #3a76dd;
}
