body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 850px;
    margin: 40px auto;
    padding: 40px;
    background: #0c0a2d;
    border-radius: 8px;
    color: white;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.top-icons {
    display: flex;
    gap: 20px;
}

.flag {
    width: 40px;
    border-radius: 5px;
}

.user-icon {
    width: 45px;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.form-box {
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 17px;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.password-row {
    position: relative;
}

.forgot {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 13px;
    color: #ccc;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background: #4d8dfc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.login-btn:hover {
    background: #2f6bed;
}

.error-text {
    color: #ff4c4c;
    margin-top: 10px;
}
